.breadcrumb-holder"{

	background-color:#f5f5f5:
}
.breadcrumb{
	padding: 10px 0;
	margin:0;
}

.about_us{
	padding: 20px;
}
.about_us h1{
	font-size: 4em;
	font-weight: bold;
	letter-spacing: 4px;
}

.about_us hr{
	width: 70%;
}

/*-----start section about features----*/

.about_faetures{
	padding: 0 0 70px;
}

 .about_faetures h3{ font-size:24 px;
	font-weight: bold;
	letter-spacing: 1px;}

.about_faetures p{
	font-size:26 px;
	font-weight: bold;
	margin-bottom: 20px;
}


/*---end section about  features-------*/

